[user]
  name = "Nick Tomlin"
  email= nick.tomlin@gmail.com
[color]
  ui = auto
[push]
  default = simple
[alias]
  ci = commit
  co = checkout
  st = status
  br = branch
  cv = commit -v

  redo = commit --amend --no-edit
  addall = add -A .
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  oneline = log --pretty=format:\"%h %ad%x20%s%x20%x28%an%x29\" --date=short
  current = log --pretty=format:'%ad %h %d' --abbrev-commit --date=short -1
  cur = log --pretty=format:'%ad %h %d' --abbrev-commit --date=short -1
  staged = diff --staged
  unstaged = diff
  # Blargh! http://stackoverflow.com/a/23584470
  sed = ! git grep -z --full-name -l '.' | LC_ALL=C xargs -0 sed -i.bak
  pile = stash --include-untracked
  up = !git fetch && git rebase --autostash FETCH_HEAD

  # enterprise aliases for 10x dev
  hadouken = !"git push -f && echo 'つಠ益ಠ༽つ ─=≡ΣO))'"
  whoopsie = !git add -u && git redo
  burninate = !git reset HEAD --hard
[core]
	excludesfile = /Users/ntomlin/.gitignore_global
