# these tend to work for multiple syntaxes
# so i'm keeping them in the _ file for now
# could refine with scope later on when I understand that better
snippet section
	/* ==========================================================================
		${1:name} 
		========================================================================== */
	${0}
snippet subsection
	/* ${1:name}
	=================================*/
	${0}
