snippet describe
	describe('${1:description}', function () {
		${0}
	});
snippet it
	it('${1:description}', function () {
		${0}
	});
# async describe
snippet describea
	describe('${1:description}', function (done) {
		${0}
	});
# async it
snippet ita
	it('${1:description}', function (done) {
		${0}
	});
# module exports shortcut
snippet me
	module.exports${0}
snippet mee
	module.exports = ${0}
